html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

p {
    font-size: 2.0rem;
}

.small-input {
    width: 150px;
    /* Adjust the width as needed */
    display: block;
    margin: 0 auto;
}

input[type="number"]:hover {
    box-shadow: 0 0 15px #035aa1;
}

input[type="number"] {
    border: 3px solid #000;
}